body {
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar {
    color: red;
}



@media (max-width: 320px) {

    .navbar {
        font-size: 50px;
        color: purple;
        display: flex;
        align-items: center;
    }

    .header-logo {
        margin-right: auto;
    }

    .header-link {
        margin-left: auto;
    }

    .header-link a {
        text-decoration: none;
        color: purple;
    }

}
